* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font-default);
    font-size: var(--font-size);
}
